---
const { bodyClass, bodyHtml, headHtml, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang || undefined}>
  <head>
    <Fragment set:html={headHtml} />
  </head>
  <body class={bodyClass || undefined}>
    <Fragment set:html={bodyHtml} />
  </body>
</html>
